@import url(medias-queries.css);
* {
    margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #191A21;
   font-family: 'Roboto Mono', monospace;
} 


.main-container{
    position: relative;
    background-color: #282C34;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 60%;
}

.hero {
    max-height: 100%;
    max-width: 100%;
   overflow-y: auto;
   overflow-x: auto;
   padding-top: 2rem;
}

 .hero::-webkit-scrollbar {
    width: 12px; 
    overflow: hidden;              /* width of the entire scrollbar */
  }
  
 .hero::-webkit-scrollbar-track {
    background: #282C34;        /* color of the tracking area */
  }
  
 .hero::-webkit-scrollbar-thumb {
    background-color: #383E44;    /* color of the scroll thumb */
    border-radius: 20px;   

  }

header {
    background-color: #383E44;
    box-shadow: 0px 15px 10px -15px #111; 
}

section {
    padding: 0 2rem 0 2rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 0.5em;
}

.btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.yellow {
    background-color: #FAF089;
}

.yellow-text {
    color: #FAF089;
}

.green {
    background-color: #68D391;
}

.red {
    background-color: #F56565;
}

.red-text {
    color: #F56565;
}

.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav-tabs li {
    flex-grow: 1;
  }
  
  .nav-tabs a {
    display: block;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none;
    color: #ABB2BF;
    border: 1px solid #282C34;
    border-bottom: none;
    transition: border-top-color 0.2s ease-in-out;
  }
  
  .nav-tabs a.active,
  .nav-tabs a:hover {
    background-color: #30353E;
  }
  
  .nav-tabs a.active {
    border-top: 3px solid #FAF089;
    border-top-color: #FAF089;
  }

p {
    color: #ABB2BF;
}

.line {
    color: #ABB2BF;
}

.variable {
    color: #E06C75;
}

.string {
    color:  #98C379;
}

.key{
    color:  #C678DD;
}

.integer {
    color: #D19A66;
}

.lines {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 16px;
    color: #eee;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #eee;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #eee;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #eee;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #eee;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: #eee;
    }
  }

.dic {
    gap: 3rem;
}

.circle {
    font-size: 10px;
}

footer {
    background-color: #383E44;
    position: absolute;
    width: 100%;
   bottom: 0;
   
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
}

.main{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.wsl{
    background-color: #ABB2BF;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.utf {
    border-left: 1px solid #282C34;
    border-right: 1px solid #282C34;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.tab {
    padding-right: 0.5rem;
}

.git-link{
    color: #00BFF9;
}




//// medias-queries ///

@media (min-width: 320px) and (max-width: 480px) {
    
  /* CSS */
  .main-container{
      position: relative;
      background-color: #282C34;
      display: flex;
      flex-direction: column;
      height: 90%;
      width: 60%;
  }
  
}


/* Define o ponto de quebra para telas menores que 768px */
@media (max-width: 767px) {
  .main-container {
    width: 100%;
    height: 100%;
  }
  .nav-tabs {
    display: flex;
   align-items: center;
    list-style: none;
   }
}

/* Define o ponto de quebra para telas maiores que 768px */
@media (min-width: 768px) {
  .main-container {
    width: 80%;
  }

   /* CSS */
   html {
    font-size: 16px;
  }

  .nav-tabs {
    display: flex;
   align-items: center;
    list-style: none;
}
.hero {
  max-width: 100%;
 overflow-x: auto;
}
}

/* Define o ponto de quebra para telas maiores que 1200px */
@media (min-width: 1200px) {
  .main-container {
    width: 60%;
  }

  .nav-tabs {
    display: flex;
   align-items: center;
    list-style: none;
}
}

@media (min-width: 1281px) {
  
  /* CSS */
  .main-container {
    width: 80%;
  }
  
  /* CSS */
  html {
    font-size: 16px;
  }

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

@media (min-width: 320px) and (max-width: 480px) {

  .main-container {
    width: 80%;
  }
  
  /* CSS */
  html {
    font-size: 12px;
  }

  .nav-tabs {
    display: flex;
    align-items: center;
  }
  .teste {
    display: none;
  }
  .hero {
    max-width: 100%;
   overflow-x: auto;
  }
  
}

@media (min-width: 450px) and (max-width: 600px) {

  .main-container {
    width: 80%;
  }
  
  /* CSS */
  html {
    font-size: 12px;
  }

  .nav-tabs {
    display: flex;
    align-items: center;
}

.teste {
  display: none;
}

.branch {
  padding-left: 0.5rem;
}
.hero {
  max-width: 100%;
 overflow-x: auto;
}
  
}

@media (min-width: 600px) and (max-width: 900px) {

  .main-container {
    width: 80%;
    height: 100%;
  }
  
  /* CSS */
  html {
    font-size: 14px;
  }

  .nav-tabs {
    display: flex;
    align-items: center;
}

.teste {
  display: none;
}

.wsl.teste {
  display: 1;
}

.branch {
  padding-left: 0.5rem;
}
.hero {
  max-width: 100%;
 overflow-x: auto;
}
  
}

